<h1 class="ui header">How Many Calories?</h1>

<!-- Accordion of exercises. When expanded, shows how many minutes -->

<div class="ui styled accordion">
  <% @exercises.each do |exercise| %>
    <div class="title"><%= exercise.name %></div>
    <div class="content">
      <%= exercise.calculate_minutes(@food_id) %> minutes
    </div>
  <% end %>
</div>
