<h1 class="ui header">Welcome</h1>

<div class="ui form">
  <%= form_tag('/calculate') do %>
    <div class="field">
      <input name="snacks" type="hidden">
      <div class="default text">Snacks</div>
      <div class="menu">
        <%= select_tag 'food', options_from_collection_for_select(@foods, 'id', 'name'), class: 'ui fluid search dropdown' %>
      </div>
    </div>

    <button class="orange ui button">Submit</button>
  <% end %>
</div>
