<!DOCTYPE html>
<html>
  <head>
    <title>Snacro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui inverted menu">
      <div class="ui container">
        <a href="/" class="header item">
          CoverMySnacro
        </a>
      </div>
    </div>

    <div class="ui main text container">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
